

h1 {
    background-color: black;
    color: antiquewhite;
    font-family:'Times New Roman', Times, serif

}

.blue {
    color: cyan;
}

h2 {
    background-color:blueviolet;
    color: antiquewhite;
    text-align: center;
    font-style: italic;
}

h3 {
    background-color: cornflowerblue;
    text-align: right;
}